h1{
    color: blue;
    font-family: verdana;
    font-size: 300%;
}


body, html{
    height:100%;
}
#p01 {
    color:green;
}

p.error {
    color: red;
}


a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.bg { 
    /* The image used */
    background-image: url("img/img_girl.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} 
th, td{
    padding: 15px;
}